body {
  margin: 0px;
  background-image: url("../CarsDescriptionBG.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.image1 {
  width: 100%;
  max-width: 500px;
  height: auto;
  margin-right: 20px;
  margin-top: 10px;
  transition: transform 0.2s; /* Added transition for smooth animation */
}

nav.scrolled .image1 {
  transform: scale(0.6); /* Adjust the scale value to your desired smaller size */
  padding-top: 30px;
}

nav {
  width: 100%;
  height: 100px;
  background-color: #333;
  position: sticky;
  top: 0;
  z-index: 9999;
  opacity: 1;
  transition: all 0.3s;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav.scrolled {
  height: 80px; /* Adjust the height to your desired value */
  opacity: 0.85;
  transform: translateY(-20px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav .logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px; /* Adjust the padding to your desired value */
}

nav ul.nav-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 100px; /* Adjust the margin to your desired value */
  margin-top: 10px;
}

nav ul.nav-links li {
  list-style: none;
  margin-left: 40px; /* Adjust the margin to your desired value */
}

nav ul li a {
  display: block;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  width: 130px; /* Set a fixed width for the navigation links */
  padding: 0;
  color: #DC232E;
  background-color: transparent;
  font-size: 130%;
  line-height: 50px;
  margin-top: 25px;
  border-radius: 10px;
  transition: transform 0.3s;
  text-align: center;
}

nav ul li a:hover {
  color: #333;
  background-color: #DC232E;
  transform: scale(0.9);
}

nav ul li:not(:hover) a {
  background-color: transparent;
}

section {
  padding: 20px;
  background-image: url("../CarsDescriptionBG.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 605px;
}


h1, h2, h3 {
  margin-top: 0;
}

#car-details .container {
  display: flex;
  flex-direction: row-reverse;
  padding: 40px;
}

.column {
  flex-basis: 50%;
  margin-right: 50px; /* Adjust the margin to your desired value */
}

.column h2 {
  font-size: 24px; /* Adjust the font size to your desired value */
  font-weight: bold;
  margin-bottom: 10px; /* Adjust the margin to your desired value */
  font-family: 'Montserrat';
  font-weight: 800;
  font-size: 50px;
}

.reviews h2 {
  font-size: 28px; /* Adjust the font size to your desired value */
  font-weight: bold;
  margin-bottom: 20px; /* Adjust the margin to your desired value */
  font-family: 'Montserrat', sans-serif; /* Add any additional styles specific to the reviews section */
  margin-top: 20px;
}

.column ul {
  list-style-type: disc; /* Adjust the list style to your desired type */
  padding-left: 20px; /* Adjust the padding to your desired value */
  margin-bottom: 20px; /* Adjust the margin to your desired value */
}

.column ul li {
  font-size: 16px; /* Adjust the font size to your desired value */
  margin-bottom: 5px; /* Adjust the margin to your desired value */
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 16px;
}

.column #pricing h3 {
  font-weight: bold;
  margin-bottom: 10px; /* Adjust the margin to your desired value */
  font-size: 28px; /* Adjust the font size to your desired value */
  margin-bottom: 20px; /* Adjust the margin to your desired value */
  font-family: 'Montserrat', sans-serif;
}

.column #pricing ul {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 10px; /* Adjust the margin to your desired value */
}

.column #pricing ul li {
  font-size: 16px; /* Adjust the font size to your desired value */
  margin-bottom: 5px; /* Adjust the margin to your desired value */
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 16px;
}

.column #pricing p {
  font-size: 14px; /* Adjust the font size to your desired value */
  color: #888; /* Adjust the color to your desired value */
  font-family: 'Montserrat';
  font-weight: 00;
  
}

.column .rent-button {
  font-size: 20px; /* Adjust the font size to your desired value */
  font-weight: bold;
  padding: 15px 20px; /* Adjust the padding to your desired value */
  background-color: #DC232E;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-family: 'Montserrat';
  transition: transform 0.3s;
}

.column .rent-button:hover {
  background-color: #333; /* Adjust the background color on hover to your desired value */
  transform: scale(1.1);
}


#car-details img {
  width: 100%;
  height: 585px;
}

#pricing ul {
  list-style-type: none;
  padding-left: 0;
}

@keyframes floating {
  0% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0px);
  }
}

.text-column {
  animation: floating 1.5s ease-in-out forwards;
}

footer {
  background-color: #ffffff;
  padding: 20px;
  text-align: center;
  color: #333;
}

footer p {
  font-size: 14px;
  color: #333;
  margin: 0;
}

.social-media ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-top: 20px;
}

.social-media li {
  margin: 0 10px;
}

.social-media a {
  display: inline-block;
  width: 60px;
  height: 60px;
}

.social-media img {
  max-width: 100%;
  max-height: 100%;
}
